Preparacion del entrono de trabajo

# Experimento 1 Prepacion del entorno

In [ ]:
# Instalar Apache Spark y Hadoop
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Descargar Spark
!wget -q https://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz

# Verificar que el archivo se descargó
!ls -lh

total 384M
-rw-r--r--  1 root root  584 Oct 23 16:08 analysis.py
-rw-r--r--  1 root root 1.3M Oct 23 16:09 Films_2.xlsx
drwxr-xr-x  1 root root 4.0K Oct 21 13:22 sample_data
drwxr-xr-x 13 1000 1000 4.0K Sep  9  2023 spark-3.5.0-bin-hadoop3
-rw-r--r--  1 root root 382M Sep  9  2023 spark-3.5.0-bin-hadoop3.tgz

In [ ]:
import os
import findspark

# Configurar las rutas de Spark y Java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

# Iniciar Spark
findspark.init()

In [ ]:
## Iniciar la sesión de Spark
from pyspark.sql import SparkSession

# Crear una sesión de Spark
spark = SparkSession.builder.master("local[*]").appName("Prueba_Spark").getOrCreate()

# Verificar que Spark esté activo
print("Versión de Spark:", spark.version)

Versión de Spark: 3.5.0

In [ ]:

## DataFrame de prueba
from pyspark.sql import Row

# Crear un DataFrame de ejemplo con datos simples
data = [Row(nombre="Juan", edad=28),
        Row(nombre="Ana", edad=24),
        Row(nombre="Pedro", edad=30)]

# Convertir la lista de datos a un DataFrame de Spark
df = spark.createDataFrame(data)

# Mostrar el contenido del DataFrame
df.show()

# Hacer una operación básica: contar el número de filas
print(f"Total de filas en el DataFrame de prueba: {df.count()}")

+------+----+
|nombre|edad|
+------+----+
|  Juan|  28|
|   Ana|  24|
| Pedro|  30|
+------+----+

Total de filas en el DataFrame de prueba: 3

In [ ]:
## Operaciones adicionales de prueba

# Filtrar los datos donde la edad es mayor que 25
df.filter(df.edad > 25).show()

# Agrupar por un valor (en este caso no tiene sentido porque son pocos datos, pero sirve de prueba)
df.groupBy("nombre").count().show()

+------+----+
|nombre|edad|
+------+----+
|  Juan|  28|
| Pedro|  30|
+------+----+

+------+-----+
|nombre|count|
+------+-----+
|  Juan|    1|
| Pedro|    1|
|   Ana|    1|
+------+-----+

In [ ]:
!pip install -q openpyxl  # Para manejar archivos Excel
!pip install -q pandas  # pandas también es necesario

In [ ]:
# Iniciar Spark
findspark.init()

# Crear una sesión de Spark
spark = SparkSession.builder.master("local[*]").appName("Excel_Spark").getOrCreate()

# Verificar que Spark esté funcionando correctamente
spark

# Experiento 2 importando xls films

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession

# Crear SparkSession (en lugar de SQLContext)
spark = SparkSession.builder.master("local[*]").appName("ExcelToSpark").getOrCreate()

# Leer el archivo Excel con pandas (todas las hojas)
excel_file = "/content/Films_2.xlsx"  # Cambia esto por el nombre de tu archivo subido
sheets_dict = pd.read_excel(excel_file, sheet_name=None)  # Cargar todas las hojas

# Verificar que las hojas se hayan cargado correctamente
print(f"Hojas cargadas: {sheets_dict.keys()}")

# Convertir cada hoja de pandas a DataFrame de Spark y guardarlo en un diccionario
spark_dfs = {}
for sheet_name, df in sheets_dict.items():
    if df.shape[0] > 0:  # Verificar si la hoja no está vacía
        spark_dfs[sheet_name] = spark.createDataFrame(df)
        print(f"Hoja '{sheet_name}' convertida a DataFrame de Spark con {df.shape[0]} filas.")
    else:
        print(f"La hoja '{sheet_name}' está vacía y no se convertirá.")

# Mostrar los nombres de las hojas convertidas y el número de filas en cada DataFrame de Spark
for sheet_name, df in spark_dfs.items():
    print(f"Hoja: {sheet_name}, Número de filas: {df.count()}")

Hojas cargadas: dict_keys(['MER', 'film', 'inventory', 'rental', 'customer', 'store'])
La hoja 'MER' está vacía y no se convertirá.
Hoja 'film' convertida a DataFrame de Spark con 1003 filas.
Hoja 'inventory' convertida a DataFrame de Spark con 4581 filas.
Hoja 'rental' convertida a DataFrame de Spark con 16044 filas.
Hoja 'customer' convertida a DataFrame de Spark con 1392 filas.
Hoja 'store' convertida a DataFrame de Spark con 2 filas.
Hoja: film, Número de filas: 1003
Hoja: inventory, Número de filas: 4581
Hoja: rental, Número de filas: 16044
Hoja: customer, Número de filas: 1392
Hoja: store, Número de filas: 2

In [ ]:
import pandas as pd
from pyspark.sql import SparkSession

# Crear SparkSession
spark = SparkSession.builder.master("local[*]").appName("ExcelToSpark").getOrCreate()

# Leer el archivo Excel con pandas (todas las hojas)
excel_file = "/content/Films_2.xlsx"  # Cambia esto por el nombre de tu archivo subido
sheets_dict = pd.read_excel(excel_file, sheet_name=None)  # Cargar todas las hojas

# Verificar que las hojas se hayan cargado correctamente
print(f"Hojas cargadas: {sheets_dict.keys()}")

# Convertir cada hoja de pandas a DataFrame de Spark y guardarlo en un diccionario
spark_dfs = {}
for sheet_name, df in sheets_dict.items():
    if df.shape[0] > 0:  # Verificar si la hoja no está vacía
        spark_dfs[sheet_name] = spark.createDataFrame(df)
        print(f"Hoja '{sheet_name}' convertida a DataFrame de Spark con {df.shape[0]} filas.")
    else:
        print(f"La hoja '{sheet_name}' está vacía y no se convertirá.")

# Mostrar los nombres de las hojas convertidas y el número de filas en cada DataFrame de Spark
for sheet_name, df in spark_dfs.items():
    print(f"Hoja: {sheet_name}, Número de filas: {df.count()}")

Hojas cargadas: dict_keys(['MER', 'film', 'inventory', 'rental', 'customer', 'store'])
La hoja 'MER' está vacía y no se convertirá.
Hoja 'film' convertida a DataFrame de Spark con 1003 filas.
Hoja 'inventory' convertida a DataFrame de Spark con 4581 filas.
Hoja 'rental' convertida a DataFrame de Spark con 16044 filas.
Hoja 'customer' convertida a DataFrame de Spark con 1392 filas.
Hoja 'store' convertida a DataFrame de Spark con 2 filas.
Hoja: film, Número de filas: 1003
Hoja: inventory, Número de filas: 4581
Hoja: rental, Número de filas: 16044
Hoja: customer, Número de filas: 1392
Hoja: store, Número de filas: 2

In [ ]:
# Mostrar los primeros registros de la hoja 'Customer'
if 'customer' in spark_dfs:
    print("Mostrando los primeros registros de la tabla Customer:")
    spark_dfs['customer'].show(5)  # Cambia el número de filas a mostrar si es necesario
else:
    print("La hoja 'Customer' no está disponible.")

Mostrando los primeros registros de la tabla Customer:
+-----------+---------+-----------+----------+--------------------+-----------+-------+--------------------+--------------------+----------------+--------+
|customer_id| store_id| first_name| last_name|               email| address_id| active|         create_date|         last_update| customer_id_old| segment|
+-----------+---------+-----------+----------+--------------------+-----------+-------+--------------------+--------------------+----------------+--------+
|          1|        1|       MARY|     SMITH| MARY.SMITH@sakil...|          5|      1| 2006-02-14 22:04:36| 2006-02-15 04:57:20|            NULL|    NULL|
|          2|        1|   PATRICIA|   JOHNSON| PATRICIA.JOHNSON...|          6|      1| 2006-02-14 22:04:36| 2006-02-15 04:57:20|            NULL|    NULL|
|          3|        1|      LINDA|  WILLIAMS| LINDA.WILLIAMS@s...|          7|      1| 2006-02-14 22:04:36| 2006-02-15 04:57:20|            NULL|    NULL|
|          4|        2|    BARBARA|     JONES| BARBARA.JONES@sa...|          8|      1| 2006-02-14 22:04:36| 2006-02-15 04:57:20|            NULL|    NULL|
|          5|        1|  ELIZABETH|     BROWN| ELIZABETH.BROWN@...|          9|      1| 2006-02-14 22:04:36| 2006-02-15 04:57:20|            NULL|    NULL|
+-----------+---------+-----------+----------+--------------------+-----------+-------+--------------------+--------------------+----------------+--------+
only showing top 5 rows

In [ ]:
# Mostrar los primeros registros de la hoja 'Customer'
if 'film' in spark_dfs:
    print("Mostrando los primeros registros de la tabla Customer:")
    spark_dfs['film'].show(5)  # Cambia el número de filas a mostrar si es necesario
else:
    print("La hoja 'film' no está disponible.")

Mostrando los primeros registros de la tabla Customer:
+-------+-----------------+--------------------+-------------+------------+---------------------+----------------+------------+-------+-----------------+----------------+-------+-----------------+--------------------+
|film_id|            title|         description| release_year| language_id| original_language_id| rental_duration| rental_rate| length| replacement_cost| num_voted_users| rating| special_features|         last_update|
+-------+-----------------+--------------------+-------------+------------+---------------------+----------------+------------+-------+-----------------+----------------+-------+-----------------+--------------------+
|      1| ACADEMY DINOSAUR| A Epic Drama of ...|         2006|           1|                 NULL|               6|        0.99|     86|            20.99|           76750|     PG|   Deleted Scenes| 2020-01-25 14:40:46|
|      2|   ACE GOLDFINGER| A Astounding Epi...|         2006|           1|                 NULL|               3|        4.99|     48|            12.99|           19350|      G|         Trailers| 2020-01-25 14:40:46|
|      3| ADAPTATION HOLES| A Astounding Ref...|         2006|           1|                 NULL|               7|        2.99|     50|            18.99|           20700|  NC-17|         Trailers| 2020-01-25 14:40:46|
|      4| AFFAIR PREJUDICE| A Fanciful Docum...|        x2006|           1|                 NULL|               5|        2.99|    117|            26.99|           45500|      G|     Commentaries| 2020-01-25 14:40:46|
|      5|      AFRICAN EGG| A Fast-Paced Doc...|         2006|           1|                 NULL|               6|        2.99|    130|            22.99|           11300|      G|   Deleted Scenes| 2020-01-25 14:40:46|
+-------+-----------------+--------------------+-------------+------------+---------------------+----------------+------------+-------+-----------------+----------------+-------+-----------------+--------------------+
only showing top 5 rows

# Experimento 3 codigo depurado aplciado

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, regexp_replace, to_timestamp, trim
from pyspark.sql.types import IntegerType, FloatType
import pandas as pd

class FilmDataProcessorSpark:
    def __init__(self, file_path):
        self.file_path = file_path
        self.dataframes = {}
        self.spark = SparkSession.builder.master("local[*]").appName("ExcelToSpark")\
            .config("spark.sql.legacy.timeParserPolicy", "LEGACY").getOrCreate()

    def load_data(self):
        sheet_names = ['film', 'inventory', 'rental', 'customer', 'store']
        for sheet in sheet_names:
            df_pandas = pd.read_excel(self.file_path, sheet_name=sheet)
            if not df_pandas.empty:
                df_spark = self.spark.createDataFrame(df_pandas)
                self.dataframes[sheet] = df_spark

    def clean_column_names(self, df):
        new_column_names = [col_name.strip().replace(' ', '_').replace('.', '_') for col_name in df.columns]
        renamed_columns = [f"`{old_name}` AS `{new_name}`" for old_name, new_name in zip(df.columns, new_column_names)]
        df = df.selectExpr(*renamed_columns)
        return df

    def clean_data(self):
        for sheet_name, df in self.dataframes.items():
            df = self.clean_column_names(df)
            if sheet_name == 'film':
                df = self.clean_film(df)
            elif sheet_name == 'inventory':
                df = self.clean_inventory(df)
            elif sheet_name == 'rental':
                df = self.clean_rental(df)
            elif sheet_name == 'customer':
                df = self.clean_customer(df)
            elif sheet_name == 'store':
                df = self.clean_store(df)
            self.dataframes[sheet_name] = df

    def clean_film(self, df):
        df = df.withColumn('film_id', regexp_replace(col('film_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('title', trim(col('title')))
        df = df.withColumn('description', trim(col('description')))
        df = df.withColumn('release_year', regexp_replace(col('release_year'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('language_id', regexp_replace(col('language_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('original_language_id', regexp_replace(col('original_language_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('rental_duration', regexp_replace(col('rental_duration'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('rental_rate', regexp_replace(col('rental_rate'), r'[^\d.]', '').cast(FloatType()))
        df = df.withColumn('length', regexp_replace(col('length'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('replacement_cost', regexp_replace(col('replacement_cost'), r'[^\d.]', '').cast(FloatType()))
        df = df.withColumn('rating', trim(col('rating')))
        df = df.withColumn('special_features', trim(col('special_features')))
        df = df.withColumn('last_update_film', to_timestamp(trim(col('last_update')), 'yyyy-MM-dd HH:mm:ss')).drop('last_update')
        return df

    def clean_inventory(self, df):
        df = df.withColumn('inventory_id', regexp_replace(col('inventory_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('film_id', regexp_replace(col('film_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('store_id', regexp_replace(col('store_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('last_update_inventory', to_timestamp(trim(col('last_update')), 'yyyy-MM-dd HH:mm:ss')).drop('last_update')
        return df

    def clean_rental(self, df):
        df = df.withColumn('rental_id', regexp_replace(col('rental_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('inventory_id', regexp_replace(col('inventory_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('customer_id', regexp_replace(col('customer_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('staff_id', regexp_replace(col('staff_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('rental_date', to_timestamp(trim(col('rental_date')), 'yyyy-MM-dd HH:mm:ss'))
        df = df.withColumn('return_date', to_timestamp(trim(col('return_date')), 'yyyy-MM-dd HH:mm:ss'))
        df = df.withColumn('last_update_rental', to_timestamp(trim(col('last_update')), 'yyyy-MM-dd HH:mm:ss')).drop('last_update')
        return df

    def clean_customer(self, df):
        df = df.withColumn('customer_id', regexp_replace(col('customer_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('store_id', regexp_replace(col('store_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('first_name', trim(col('first_name')))
        df = df.withColumn('last_name', trim(col('last_name')))
        df = df.withColumn('email', trim(col('email')))
        df = df.withColumn('address_id', regexp_replace(col('address_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('active', regexp_replace(col('active'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('create_date', to_timestamp(trim(col('create_date')), 'yyyy-MM-dd HH:mm:ss'))
        df = df.withColumn('last_update_customer', to_timestamp(trim(col('last_update')), 'yyyy-MM-dd HH:mm:ss')).drop('last_update')
        if 'customer_id_old' in df.columns:
            df = df.drop('customer_id_old')
        return df

    def clean_store(self, df):
        df = df.withColumn('store_id', regexp_replace(col('store_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('manager_staff_id', regexp_replace(col('manager_staff_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('address_id', regexp_replace(col('address_id'), r'[^0-9]', '').cast(IntegerType()))
        df = df.withColumn('last_update_store', to_timestamp(trim(col('last_update')), 'yyyy-MM-dd HH:mm:ss')).drop('last_update')
        return df

    def combine_data(self):
        # Unir inventory con film
        df_inventory_film = self.dataframes['inventory'].alias('inv').join(
            self.dataframes['film'].alias('film'),
            on='film_id',
            how='left'
        )

        # Unir inventory_film con store
        df_inventory_film_store = df_inventory_film.alias('inv_film').join(
            self.dataframes['store'].alias('store'),
            on=col('inv_film.store_id') == col('store.store_id'),
            how='left'
        ).select(
            [col('inv_film.' + c) for c in df_inventory_film.columns] +
            [col('store.' + c).alias(c + '_store') for c in self.dataframes['store'].columns if c != 'store_id']
        )

        # Unir rental con inventory_film_store
        df_rental_inventory_film_store = self.dataframes['rental'].alias('rental').join(
            df_inventory_film_store.alias('inv_film_store'),
            on='inventory_id',
            how='left'
        ).select(
            [col('rental.' + c) for c in self.dataframes['rental'].columns] +
            [col('inv_film_store.' + c) for c in df_inventory_film_store.columns if c != 'inventory_id']
        )

        # Unir rental_inventory_film_store con customer
        df_final = df_rental_inventory_film_store.alias('rental_inv_film_store').join(
            self.dataframes['customer'].alias('cust'),
            on='customer_id',
            how='left'
        ).select(
            [col('rental_inv_film_store.' + c) for c in df_rental_inventory_film_store.columns] +
            [col('cust.' + c).alias(c + '_customer') for c in self.dataframes['customer'].columns if c != 'customer_id']
        )

        return df_final

    def save_and_download(self, df, file_name):
        df.toPandas().to_excel(f'{file_name}.xlsx', index=False)
        try:
            from google.colab import files
            files.download(f'{file_name}.xlsx')
        except ImportError:
            print("El entorno no es Google Colab. El archivo se ha guardado localmente.")

# Uso de la clase FilmDataProcessorSpark
file_path = '/content/Films_2.xlsx'  # Ajustar la ruta del archivo
film_processor = FilmDataProcessorSpark(file_path)

# Cargar, limpiar, combinar y guardar los datos
film_processor.load_data()
film_processor.clean_data()
df_final = film_processor.combine_data()
df_final.printSchema()
df_final.show()
film_processor.save_and_download(df_final, 'Final_Combined_DataFrame')

root
 |-- rental_id: integer (nullable = true)
 |-- rental_date: timestamp (nullable = true)
 |-- inventory_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- return_date: timestamp (nullable = true)
 |-- staff_id: integer (nullable = true)
 |-- last_update_rental: timestamp (nullable = true)
 |-- film_id: integer (nullable = true)
 |-- store_id: integer (nullable = true)
 |-- last_update_inventory: timestamp (nullable = true)
 |-- title: string (nullable = true)
 |-- description: string (nullable = true)
 |-- release_year: integer (nullable = true)
 |-- language_id: integer (nullable = true)
 |-- original_language_id: integer (nullable = true)
 |-- rental_duration: integer (nullable = true)
 |-- rental_rate: float (nullable = true)
 |-- length: integer (nullable = true)
 |-- replacement_cost: float (nullable = true)
 |-- num_voted_users: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- special_features: string (nullable = true)
 |-- last_update_film: timestamp (nullable = true)
 |-- manager_staff_id_store: integer (nullable = true)
 |-- address_id_store: integer (nullable = true)
 |-- last_update_store_store: timestamp (nullable = true)
 |-- store_id_customer: integer (nullable = true)
 |-- first_name_customer: string (nullable = true)
 |-- last_name_customer: string (nullable = true)
 |-- email_customer: string (nullable = true)
 |-- address_id_customer: integer (nullable = true)
 |-- active_customer: integer (nullable = true)
 |-- create_date_customer: timestamp (nullable = true)
 |-- segment_customer: string (nullable = true)
 |-- last_update_customer_customer: timestamp (nullable = true)

+---------+-------------------+------------+-----------+-------------------+--------+-------------------+-------+--------+---------------------+-------------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+---------------+------+-----------------+-------------------+----------------------+----------------+-----------------------+-----------------+-------------------+------------------+--------------------+-------------------+---------------+--------------------+----------------+-----------------------------+
|rental_id|        rental_date|inventory_id|customer_id|        return_date|staff_id| last_update_rental|film_id|store_id|last_update_inventory|              title|         description|release_year|language_id|original_language_id|rental_duration|rental_rate|length|replacement_cost|num_voted_users|rating| special_features|   last_update_film|manager_staff_id_store|address_id_store|last_update_store_store|store_id_customer|first_name_customer|last_name_customer|      email_customer|address_id_customer|active_customer|create_date_customer|segment_customer|last_update_customer_customer|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+-------+--------+---------------------+-------------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+---------------+------+-----------------+-------------------+----------------------+----------------+-----------------------+-----------------+-------------------+------------------+--------------------+-------------------+---------------+--------------------+----------------+-----------------------------+
|       21|2005-05-25 01:59:46|         146|        388|2005-05-26 01:01:46|       2|2006-02-15 21:30:53|     31|       2|  2006-02-15 05:09:17|      APACHE DIVINE|A Awe-Inspiring R...|        2006|          1|                NULL|              5|       4.99|    92|           16.99|          32000| NC-17|     Commentaries|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                2|              CRAIG|           MORRELL|CRAIG.MORRELL@sak...|                393|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|     8201|2005-07-28 23:10:48|         220|        567|2005-08-01 00:50:48|       2|2006-02-15 21:30:53|     49|       2|  2006-02-15 05:09:17|        BADMAN DAWN|A Emotional Panor...|        2006|          1|                NULL|              6|       2.99|   162|           22.99|          39200|     R|         Trailers|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                2|            ALFREDO|           MCADAMS|ALFREDO.MCADAMS@s...|                573|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|     8214|2005-07-28 23:37:57|         352|        509|2005-08-07 00:29:57|       2|2006-02-15 21:30:53|     78|       2|  2006-02-15 05:09:17|   BLACKOUT PRIVATE|A Intrepid Yarn o...|        2006|          1|                NULL|              7|       2.99|    85|           12.99|          44550|    PG|         Trailers|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                1|               RAUL|           FORTIER|RAUL.FORTIER@saki...|                514|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|     8200|2005-07-28 23:10:46|         353|        185|2005-07-29 18:35:46|       1|2006-02-15 21:30:53|     78|       2|  2006-02-15 05:09:17|   BLACKOUT PRIVATE|A Intrepid Yarn o...|        2006|          1|                NULL|              7|       2.99|    85|           12.99|          44550|    PG|         Trailers|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                1|            ROBERTA|            HARPER|ROBERTA.HARPER@sa...|                189|              1| 2006-02-14 22:04:36|            NULL|          2006-02-15 04:57:20|
|        1|2005-05-24 22:53:30|         367|        130|2005-05-26 22:04:30|       1|2006-02-15 21:30:53|     80|       2|  2006-02-15 05:09:17|    BLANKET BEVERLY|A Emotional Docum...|        2006|          1|                NULL|              7|       2.99|   148|           21.99|          17600|     G|         Trailers|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                1|          CHARLOTTE|            HUNTER|CHARLOTTE.HUNTER@...|                134|              1| 2006-02-14 22:04:36|            NULL|          2006-02-15 04:57:20|
|       16|2005-05-25 00:43:11|         389|        316|2005-05-26 04:42:11|       2|2006-02-15 21:30:53|     86|       2|  2006-02-15 05:09:17|      BOOGIE AMELIE|A Lacklusture Cha...|        2006|          1|                NULL|              6|       4.99|   121|           11.99|          16600|     R|     Commentaries|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                1|             STEVEN|            CURLEY|STEVEN.CURLEY@sak...|                321|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|     8199|2005-07-28 23:10:25|         404|        471|2005-08-04 23:30:25|       1|2006-02-15 21:30:53|     89|       2|  2006-02-15 05:09:17|BORROWERS BEDAZZLED|A Brilliant Epist...|        2006|          1|                NULL|              7|       0.99|    63|           22.99|          39950|     G|     Commentaries|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                1|               DEAN|             SAUER|DEAN.SAUER@sakila...|                476|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|       17|2005-05-25 01:06:36|         830|        575|2005-05-27 00:43:36|       1|2006-02-15 21:30:53|    181|       2|  2006-02-15 05:09:17|  CONTACT ANONYMOUS|A Insightful Disp...|        2006|          1|                NULL|              7|       2.99|   166|           10.99|          72750| PG-13|     Commentaries|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                2|              ISAAC|           OGLESBY|ISAAC.OGLESBY@sak...|                581|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|     8207|2005-07-28 23:26:31|        1195|        475|2005-08-06 03:26:31|       1|2006-02-15 21:30:53|    266|       2|  2006-02-15 05:09:17|    DYNAMITE TARZAN|A Intrepid Docume...|        2006|          1|                NULL|              4|       0.99|   141|           27.99|          52950| PG-13|   Deleted Scenes|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                2|              PEDRO|          CHESTNUT|PEDRO.CHESTNUT@sa...|                480|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|     8212|2005-07-28 23:37:23|        1305|        159|2005-08-04 04:33:23|       2|2006-02-15 21:30:53|    288|       2|  2006-02-15 05:09:17|  ESCAPE METROPOLIS|A Taut Yarn of a ...|        2006|          1|                NULL|              7|       2.99|   167|           20.99|          74050|     R|         Trailers|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                1|               JILL|           HAWKINS|JILL.HAWKINS@saki...|                163|              1| 2006-02-14 22:04:36|            NULL|          2006-02-15 04:57:20|
|     8208|2005-07-28 23:26:35|        1362|        530|2005-08-01 23:00:35|       2|2006-02-15 21:30:53|    300|       2|  2006-02-15 05:09:17|      FALCON VOLUME|A Fateful Saga of...|        2006|          1|                NULL|              5|       4.99|   102|           21.99|           8250| PG-13|     Commentaries|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                2|             DARRYL|          ASHCRAFT|DARRYL.ASHCRAFT@s...|                536|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|        2|2005-05-24 22:54:33|        1525|        459|2005-05-28 19:40:33|       1|2006-02-15 21:30:53|    333|       2|  2006-02-15 05:09:17|       FREAKY POCUS|A Fast-Paced Docu...|        2006|          1|                NULL|              7|       2.99|   126|           16.99|          53150|     R|         Trailers|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                1|              TOMMY|           COLLAZO|TOMMY.COLLAZO@sak...|                464|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|       12|2005-05-25 00:19:27|        1584|        261|2005-05-30 05:44:27|       2|2006-02-15 21:30:53|    347|       2|  2006-02-15 05:09:17|    GAMES BOWFINGER|A Astounding Docu...|        2006|          1|                NULL|              7|       4.99|   119|           17.99|          26950| PG-13|Behind the Scenes|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                1|             DEANNA|              BYRD|DEANNA.BYRD@sakil...|                266|              1| 2006-02-14 22:04:36|            NULL|          2006-02-15 04:57:20|
|        3|2005-05-24 23:03:39|        1711|        408|2005-06-01 22:12:39|       1|2006-02-15 21:30:53|    373|       2|  2006-02-15 05:09:17|      GRADUATE LORD|A Lacklusture Epi...|        2006|          1|                NULL|              7|       2.99|   156|           14.99|          60550|     G|         Trailers|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                1|             MANUEL|           MURRELL|MANUEL.MURRELL@sa...|                413|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|     8198|2005-07-28 23:08:05|        1767|        356|2005-08-06 00:43:05|       2|2006-02-15 21:30:53|    383|       2|  2006-02-15 05:09:17|     GROOVE FICTION|A Unbelieveable R...|        2006|          1|                NULL|              6|       0.99|   111|           13.99|          22400| NC-17|Behind the Scenes|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                2|             GERALD|             FULTZ|GERALD.FULTZ@saki...|                361|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|       10|2005-05-25 00:02:21|        1824|        399|2005-05-31 22:44:21|       2|2006-02-15 21:30:53|    396|       2|  2006-02-15 05:09:17|       HANGING DEEP|A Action-Packed Y...|        2006|          1|                NULL|              5|       4.99|    62|           18.99|          45250|     G|         Trailers|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                1|              DANNY|              ISOM|DANNY.ISOM@sakila...|                404|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|     8211|2005-07-28 23:34:22|        1859|        193|2005-08-04 21:18:22|       1|2006-02-15 21:30:53|    406|       2|  2006-02-15 05:09:17|   HAUNTING PIANIST|A Fast-Paced Stor...|        2006|          1|                NULL|              5|       0.99|   181|           22.99|           7900|     R|Behind the Scenes|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                2|              KATIE|           ELLIOTT|KATIE.ELLIOTT@sak...|                197|              1| 2006-02-14 22:04:36|            NULL|          2006-02-15 04:57:20|
|       19|2005-05-25 01:17:24|        1941|        456|2005-05-31 06:00:24|       1|2006-02-15 21:30:53|    422|       2|  2006-02-15 05:09:17|    HOLLOW JEOPARDY|A Beautiful Chara...|        2006|          1|                NULL|              7|       4.99|   136|           25.99|           7600| NC-17|Behind the Scenes|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                2|             RONNIE|          RICKETTS|RONNIE.RICKETTS@s...|                461|              1| 2006-02-14 22:04:37|            NULL|          2006-02-15 04:57:20|
|        5|2005-05-24 23:05:21|        2079|        222|2005-06-02 04:33:21|       1|2006-02-15 21:30:53|    450|       2|  2006-02-15 05:09:17|    IDOLS SNATCHERS|A Insightful Dram...|        2006|          1|                NULL|              5|       2.99|    84|           29.99|          38450| NC-17|         Trailers|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                2|            DELORES|            HANSEN|DELORES.HANSEN@sa...|                226|              1| 2006-02-14 22:04:36|            NULL|          2006-02-15 04:57:20|
|     8216|2005-07-28 23:43:59|        2211|        254|2005-08-06 05:05:59|       1|2006-02-15 21:30:53|    478|       2|  2006-02-15 05:09:17|         JAWS HARRY|A Thrilling Displ...|        2006|          1|                NULL|              4|       2.99|   112|           10.99|          10700|     G|   Deleted Scenes|2020-01-25 14:40:46|                     2|               2|    2016-02-15 04:57:12|                2|             MAXINE|             SILVA|MAXINE.SILVA@saki...|                259|              1| 2006-02-14 22:04:36|            NULL|          2006-02-15 04:57:20|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+-------+--------+---------------------+-------------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+---------------+------+-----------------+-------------------+----------------------+----------------+-----------------------+-----------------+-------------------+------------------+--------------------+-------------------+---------------+--------------------+----------------+-----------------------------+
only showing top 20 rows