In [ ]:
! pip install tools

Collecting tools
  Downloading tools-0.1.9.tar.gz (34 kB)
  Preparing metadata (setup.py) ... done
Collecting pytils (from tools)
  Downloading pytils-0.4.1.tar.gz (99 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.1/99.1 kB 3.8 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from tools) (1.16.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from tools) (4.9.4)
Building wheels for collected packages: tools, pytils
  Building wheel for tools (setup.py) ... done
  Created wheel for tools: filename=tools-0.1.9-py3-none-any.whl size=46729 sha256=7b9843fee6fc07684276ac8ed276d0f69205a61e8ef02a18d41b71c50f0ec8c3
  Stored in directory: /root/.cache/pip/wheels/c0/d0/70/a33bd4bed2af4f7038b038c16faab552cd0e9d9f4125223a71
  Building wheel for pytils (pyproject.toml) ... done
  Created wheel for pytils: filename=pytils-0.4.1-py3-none-any.whl size=32875 sha256=bf80a1f9bf961f45ed32ff9ba218bdf4ef42c381e8ad04620c7783aabbf34efa
  Stored in directory: /root/.cache/pip/wheels/5a/eb/7c/3b6f0c25815749883152b2caca34c35dbaab13ec2864270cbd
Successfully built tools pytils
Installing collected packages: pytils, tools
Successfully installed pytils-0.4.1 tools-0.1.9

In [ ]:
import pandas as pd
import numpy as np
import re
import tools

In [ ]:
excel_file = pd.ExcelFile('/content/Films_2.xlsx')
print(excel_file.sheet_names)  # Muestra los nombres de las hojas

['MER', 'film', 'inventory', 'rental', 'customer', 'store']

# Extraccion

In [ ]:
df_film = pd.read_excel(excel_file, sheet_name="film")
df_inventory= pd.read_excel(excel_file, sheet_name="inventory")
df_rental= pd.read_excel(excel_file, sheet_name="rental")
df_customer= pd.read_excel(excel_file, sheet_name="customer")
df_sales= pd.read_excel(excel_file, sheet_name="store")

# Experimento 1 Formateo de una sola tabla

In [ ]:
# Eliminar espacios adicionales en los nombres de las columnas
df_film.columns = df_film.columns.str.strip()

# Limpieza de columnas según el formato esperado

# Columna numérica (elimina caracteres no numéricos y convierte a 'Int64' para permitir NaN)
df_film['film_id'] = df_film['film_id'].astype(str).str.replace(r'[^0-9]', '', regex=True)
df_film['film_id'] = pd.to_numeric(df_film['film_id'], errors='coerce').astype('Int64')

# Columnas de texto (elimina caracteres especiales y espacios en blanco)
df_film['title'] = df_film['title'].astype(str).str.replace(r'[^a-zA-Z0-9\s]', '', regex=True).str.strip()
df_film['description'] = df_film['description'].fillna('').astype(str).str.replace(r'[^a-zA-Z0-9\s]', '', regex=True).str.strip()

# Columna de fechas (limpia y convierte a formato datetime)
df_film['last_update'] = pd.to_datetime(df_film['last_update'].astype(str).str.replace(r'[^0-9\-: ]', '', regex=True), errors='coerce')

# Columna flotante (elimina caracteres no numéricos, excepto el punto decimal, y convierte a float)
df_film['rental_rate'] = df_film['rental_rate'].astype(str).str.replace(r'[^0-9.]', '', regex=True)
df_film['rental_rate'] = pd.to_numeric(df_film['rental_rate'], errors='coerce').astype(float)

# Convertir otras columnas con tipos definidos y manejo de NaN

df_film['release_year'] = df_film['release_year'].astype(str).str.replace(r'[^0-9]', '', regex=True)
df_film['release_year'] = pd.to_numeric(df_film['release_year'], errors='coerce').astype('Int64')

df_film['language_id'] = df_film['language_id'].astype(str).str.replace(r'[^0-9]', '', regex=True)
df_film['language_id'] = pd.to_numeric(df_film['language_id'], errors='coerce').astype('Int64')

df_film['original_language_id'] = pd.to_numeric(df_film['original_language_id'], errors='coerce').astype('Int64')

df_film['rental_duration'] = df_film['rental_duration'].astype(str).str.replace(r'[^0-9]', '', regex=True)
df_film['rental_duration'] = pd.to_numeric(df_film['rental_duration'], errors='coerce').astype('Int64')

df_film['length'] = df_film['length'].astype(str).str.replace(r'[^0-9.]', '', regex=True)
df_film['length'] = pd.to_numeric(df_film['length'], errors='coerce').astype(float)

df_film['replacement_cost'] = df_film['replacement_cost'].astype(str).str.replace(r'[^0-9.]', '', regex=True)
df_film['replacement_cost'] = pd.to_numeric(df_film['replacement_cost'], errors='coerce').astype(float)

df_film['num_voted_users'] = df_film['num_voted_users'].astype(str).str.replace(r'[^0-9]', '', regex=True)
df_film['num_voted_users'] = pd.to_numeric(df_film['num_voted_users'], errors='coerce').astype('Int64')

df_film['rating'] = df_film['rating'].astype(str).str.replace(r'[^a-zA-Z0-9\s]', '', regex=True).str.strip()
df_film['special_features'] = df_film['special_features'].fillna('').astype(str).str.replace(r'[^a-zA-Z0-9\s]', '', regex=True).str.strip()

In [ ]:
from google.colab import files

# Guardar el DataFrame limpio en un archivo Excel en el directorio '/content/'
output_file_path = '/content/Cleaned_Film_DataFrame.xlsx'
df_film.to_excel(output_file_path, index=False)

# Descargar el archivo usando la función de Google Colab
files.download(output_file_path)

In [ ]:
df_film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1003 non-null   Int64
 1   title                 1003 non-null   object
 2   description           1003 non-null   object
 3   release_year          1003 non-null   Int64
 4   language_id           1003 non-null   Int64
 5   original_language_id  0 non-null      Int64
 6   rental_duration       1003 non-null   Int64
 7   rental_rate           1003 non-null   float64
 8   length                1003 non-null   float64
 9   replacement_cost      1003 non-null   float64
 10  num_voted_users       1003 non-null   Int64
 11  rating                1003 non-null   object
 12  special_features      1003 non-null   object
 13  last_update           1003 non-null   datetime64[ns]
dtypes: Int64(6), datetime64[ns](1), float64(3), object(4)
memory usage: 115.7+ KB

In [ ]:
sheet_names = ['film', 'inventory', 'rental', 'customer', 'store']
dataframes = {}

In [ ]:
file_path = '/content/Films_2.xlsx'  # Ruta para Google Colab

In [ ]:
# Cargar el archivo Excel
file_path = '/content/Films_2.xlsx'  # Cambiar a la ubicación de tu archivo en Colab
sheet_names = ["film",'inventory', 'rental', 'customer', 'store']
dataframes = {}

# Cargar todas las hojas y realizar la limpieza
for sheet in sheet_names:
    # Leer la hoja
    df = pd.read_excel(file_path, sheet_name=sheet)

    # Eliminar espacios adicionales en los nombres de las columnas
    df.columns = df.columns.str.strip()

    # Realizar la limpieza de columnas según el formato esperado

    # Identificar si hay columnas numéricas que necesitan limpieza
    for col in df.columns:
        if df[col].dtype == 'object':  # Trabajar con columnas de tipo 'object'
            # Si la columna tiene un nombre que indica que es numérica, año, duración o tasa
            if 'id' in col.lower() or 'year' in col.lower() or 'rate' in col.lower() or 'duration' in col.lower():
                df[col] = df[col].astype(str).str.replace(r'[^0-9]', '', regex=True)
                df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')
            # Si la columna podría ser una fecha
            elif 'date' in col.lower() or 'update' in col.lower():
                df[col] = pd.to_datetime(df[col].astype(str).str.replace(r'[^0-9\-: ]', '', regex=True), errors='coerce')
            # Si la columna podría ser flotante
            elif 'cost' in col.lower() or 'rate' in col.lower() or 'length' in col.lower():
                df[col] = df[col].astype(str).str.replace(r'[^0-9.]', '', regex=True)
                df[col] = pd.to_numeric(df[col], errors='coerce').astype(float)
            # Para columnas de texto
            else:
                df[col] = df[col].astype(str).str.replace(r'[^a-zA-Z0-9\s]', '', regex=True).str.strip()

    # Guardar el DataFrame limpio en el diccionario
    dataframes[sheet] = df

In [ ]:
for key in dataframes:
    dataframes[key].columns = dataframes[key].columns.str.strip()

In [ ]:
df_film = dataframes['film']
df_inventory = dataframes['inventory']
df_rental = dataframes['rental']
df_customer = dataframes['customer']
df_store = dataframes['store']

In [ ]:
# Verificar las columnas que tienen cada uno de los DataFrames antes de la unión
print("Film Columns:", df_film.columns)
print("Inventory Columns:", df_inventory.columns)
print("Rental Columns:", df_rental.columns)
print("Customer Columns:", df_customer.columns)
print("Store Columns:", df_store.columns)

Film Columns: Index(['film_id', 'title', 'description', 'release_year', 'language_id',
       'original_language_id', 'rental_duration', 'rental_rate', 'length',
       'replacement_cost', 'num_voted_users', 'rating', 'special_features',
       'last_update'],
      dtype='object')
Inventory Columns: Index(['inventory_id', 'film_id', 'store_id', 'last_update'], dtype='object')
Rental Columns: Index(['rental_id', 'rental_date', 'inventory_id', 'customer_id',
       'return_date', 'staff_id', 'last_update'],
      dtype='object')
Customer Columns: Index(['customer_id', 'store_id', 'first_name', 'last_name', 'email',
       'address_id', 'active', 'create_date', 'last_update', 'customer_id_old',
       'segment'],
      dtype='object')
Store Columns: Index(['store_id', 'manager_staff_id', 'address_id', 'last_update'], dtype='object')

In [ ]:
# 1. Unir film con inventory usando 'film_id'
df_film_inventory = pd.merge(df_inventory, df_film, how='left', on='film_id', suffixes=('_inventory', '_film'))

# 2. Unir el resultado con rental usando 'inventory_id'
df_film_inventory_rental = pd.merge(df_rental, df_film_inventory, how='left', on='inventory_id', suffixes=('_rental', '_film_inventory'))

# 3. Unir el resultado con customer usando 'customer_id'
# Verificar si 'customer_id_old' existe, y si es así, eliminarla
if 'customer_id_old' in df_customer.columns:
    df_customer = df_customer.drop(columns=['customer_id_old'])  # Eliminamos 'customer_id_old' si existe para evitar problemas

df_film_inventory_rental_customer = pd.merge(df_film_inventory_rental, df_customer, how='left', on='customer_id', suffixes=('_rental', '_customer'))

# Verificar si la columna 'store_id_customer' está presente antes de hacer la última unión
print("Columnas en df_film_inventory_rental_customer:", df_film_inventory_rental_customer.columns)

if 'store_id_customer' in df_film_inventory_rental_customer.columns and 'store_id' in df_store.columns:
    # 4. Finalmente, unir el resultado con store usando 'store_id_customer'
    df_final = pd.merge(df_film_inventory_rental_customer, df_store, how='left', left_on='store_id_customer', right_on='store_id', suffixes=('_customer', '_store'))
else:
    raise KeyError("La columna 'store_id_customer' no se encuentra en df_film_inventory_rental_customer o la columna 'store_id' no se encuentra en df_store.")

Columnas en df_film_inventory_rental_customer: Index(['rental_id', 'rental_date', 'inventory_id', 'customer_id',
       'return_date', 'staff_id', 'last_update_rental', 'film_id',
       'store_id_rental', 'last_update_inventory', 'title', 'description',
       'release_year', 'language_id', 'original_language_id',
       'rental_duration', 'rental_rate', 'length', 'replacement_cost',
       'num_voted_users', 'rating', 'special_features', 'last_update_film',
       'store_id_customer', 'first_name', 'last_name', 'email', 'address_id',
       'active', 'create_date', 'last_update_customer', 'segment'],
      dtype='object')

In [ ]:
# Mostrar información del DataFrame final para verificar
df_final.info()  # Mostrar la información del DataFrame combinado
df_final.head()  # Mostrar las primeras filas para verificar el resultado

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16113 entries, 0 to 16112
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rental_id              16113 non-null  int64
 1   rental_date            16113 non-null  datetime64[ns]
 2   inventory_id           16113 non-null  int64
 3   customer_id            16113 non-null  int64
 4   return_date            15930 non-null  datetime64[ns]
 5   staff_id               16113 non-null  int64
 6   last_update_rental     16113 non-null  datetime64[ns]
 7   film_id                16113 non-null  int64
 8   store_id_rental        16113 non-null  Int64
 9   last_update_inventory  16113 non-null  datetime64[ns]
 10  title                  16113 non-null  object
 11  description            16113 non-null  object
 12  release_year           16113 non-null  Int64
 13  language_id            16113 non-null  int64
 14  original_language_id   0 non-null      Int64
 15  rental_duration        16113 non-null  int64
 16  rental_rate            16113 non-null  Int64
 17  length                 16113 non-null  float64
 18  replacement_cost       16113 non-null  float64
 19  num_voted_users        16113 non-null  object
 20  rating                 16113 non-null  object
 21  special_features       16113 non-null  object
 22  last_update_film       16113 non-null  datetime64[ns]
 23  store_id_customer      16113 non-null  int64
 24  first_name             16113 non-null  object
 25  last_name              16113 non-null  object
 26  email                  16113 non-null  object
 27  address_id_customer    16113 non-null  int64
 28  active                 16113 non-null  int64
 29  create_date            16113 non-null  datetime64[ns]
 30  last_update_customer   16113 non-null  datetime64[ns]
 31  segment                16113 non-null  object
 32  store_id               16113 non-null  int64
 33  manager_staff_id       16113 non-null  int64
 34  address_id_store       16113 non-null  int64
 35  last_update            16113 non-null  datetime64[ns]
dtypes: Int64(4), datetime64[ns](8), float64(2), int64(13), object(9)
memory usage: 4.5+ MB

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update_rental,film_id,store_id_rental,last_update_inventory,...,email,address_id_customer,active,create_date,last_update_customer,segment,store_id,manager_staff_id,address_id_store,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53,80,2,2006-02-15 05:09:17,...,CHARLOTTEHUNTERsakilacustomerorg,134,1,2006-02-14 22:04:36,2006-02-15 04:57:20,NULL,1,1,1,2016-02-15 04:57:12
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53,333,2,2006-02-15 05:09:17,...,TOMMYCOLLAZOsakilacustomerorg,464,1,2006-02-14 22:04:37,2006-02-15 04:57:20,NULL,1,1,1,2016-02-15 04:57:12
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53,373,2,2006-02-15 05:09:17,...,MANUELMURRELLsakilacustomerorg,413,1,2006-02-14 22:04:37,2006-02-15 04:57:20,NULL,1,1,1,2016-02-15 04:57:12
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53,535,2,2006-02-15 05:09:17,...,ANDREWPURDYsakilacustomerorg,338,1,2006-02-14 22:04:37,2006-02-15 04:57:20,NULL,2,2,2,2016-02-15 04:57:12
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53,450,2,2006-02-15 05:09:17,...,DELORESHANSENsakilacustomerorg,226,1,2006-02-14 22:04:36,2006-02-15 04:57:20,NULL,2,2,2,2016-02-15 04:57:12

In [ ]:
df_final.describe()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update_rental,film_id,store_id_rental,last_update_inventory,...,last_update_film,store_id_customer,address_id_customer,active,create_date,last_update_customer,store_id,manager_staff_id,address_id_store,last_update
count,16113.000000,16113,16113.000000,16113.000000,15930,16113.000000,16113,16113.000000,16113.0,16113,...,16113,16113.000000,16113.000000,16113.000000,16113,16113,16113.000000,16113.000000,16113.000000,16113
mean,8029.539688,2005-07-23 08:28:15.929684096,2288.290449,297.263017,2005-07-26 00:24:17.571688704,1.498604,2006-02-15 21:31:32.029044480,500.333333,1.999255,2006-02-15 05:09:16.999999488,...,2020-01-25 14:40:46.000000512,1.454912,301.978837,0.974555,2006-02-14 22:04:36.542543104,2006-02-15 04:57:20,1.454912,1.454912,1.454912,2016-02-15 04:57:12
min,1.000000,2005-05-24 22:53:30,1.000000,1.000000,2005-05-25 23:55:21,1.000000,2006-02-15 21:30:53,1.000000,1.0,2006-02-15 05:09:17,...,2020-01-25 14:40:46,1.000000,5.000000,0.000000,2006-02-14 22:04:36,2006-02-15 04:57:20,1.000000,1.000000,1.000000,2016-02-15 04:57:12
25%,4022.000000,2005-07-07 01:50:06,1159.000000,148.000000,2005-07-10 16:42:02,1.000000,2006-02-15 21:30:53,256.000000,2.0,2006-02-15 05:09:17,...,2020-01-25 14:40:46,1.000000,152.000000,1.000000,2006-02-14 22:04:36,2006-02-15 04:57:20,1.000000,1.000000,1.000000,2016-02-15 04:57:12
50%,8027.000000,2005-07-28 16:09:57,2282.000000,296.000000,2005-08-01 19:58:54.500000,1.000000,2006-02-15 21:30:53,494.000000,2.0,2006-02-15 05:09:17,...,2020-01-25 14:40:46,1.000000,301.000000,1.000000,2006-02-14 22:04:37,2006-02-15 04:57:20,1.000000,1.000000,1.000000,2016-02-15 04:57:12
75%,12041.000000,2005-08-17 21:36:47,3427.000000,446.000000,2005-08-21 00:03:46.250000,2.000000,2006-02-15 21:30:53,751.000000,2.0,2006-02-15 05:09:17,...,2020-01-25 14:40:46,2.000000,451.000000,1.000000,2006-02-14 22:04:37,2006-02-15 04:57:20,2.000000,2.000000,2.000000,2016-02-15 04:57:12
max,16049.000000,2006-02-14 15:16:03,4581.000000,599.000000,2005-09-02 02:35:22,2.000000,2006-02-23 04:12:08,1000.000000,2.0,2006-02-15 05:09:17,...,2020-01-25 14:40:46,2.000000,605.000000,1.000000,2006-02-14 22:04:37,2006-02-15 04:57:20,2.000000,2.000000,2.000000,2016-02-15 04:57:12
std,4631.232872,NaN,1320.487843,172.451893,NaN,0.500014,NaN,288.137894,0.027281,NaN,...,NaN,0.497978,173.084216,0.157478,NaN,NaN,0.497978,0.497978,0.497978,NaN

In [ ]:
# Opcional: guardar el DataFrame resultante en un archivo Excel
output_file_path_final = '/content/Final_Combined_DataFrame.xlsx'
df_final.to_excel(output_file_path_final, index=False)

# Descargar el archivo usando la función de Google Colab
from google.colab import files
files.download(output_file_path_final)